:root {
  --primary: #4c39f0;
  --secondary: #f5602d;
  --primary_light: #3524c4;
  --primary_dark: #040025;
  --primary_dark_2: #1b107a;
  --black: #000000;
  --white: #ffffff;
  --gray: #f4f4fb;
  --gray_2: #f4f4fb;
  --label_color: #454545;
  --border_color: #d4d5d9;
  --dark_gray: #262626;
  --light_gray: #404040;
  --blue_gray: #f6f5ff;
  --light_purple: #eee9ff;
  --light_pink: #ffe9fc;
  --light_orange: #ffe8d8;
  --light_blue: #d8f3ff;
  --light_red: #ffe9e9;
  --light_green: #f3ffd8;
  --ff-serif: "Inter", "sans-serif";
  --gutter: 1.25rem;
}

.services_card::after, .img-thumb::after {
  content: "";
  position: absolute;
  -webkit-filter: blur(0);
          filter: blur(0);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0.75;
  border-radius: 1rem;
}

#back_to_top, .header .btn-menu, .social-icons li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* BASE */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--ff-serif);
  font-weight: 400;
  color: var(--dark_gray);
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
  h1 {
    line-height: 4.125rem;
    font-size: 3rem;
  }
}

h2,
h3 {
  font-size: 20px;
  line-height: 32px;
}
@media only screen and (min-width: 768px) {
  h2,
  h3 {
    font-size: 32px;
    line-height: 39px;
  }
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  line-height: 38.73px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.78px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: var(--primary_light);
}

h2:not(:only-child, :last-child),
h3:not(:only-child, :last-child),
p:not(:only-child, :last-child),
ul:not(:only-child, :last-child) {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container,
.header_nav ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
@media only screen and (max-width: 991px) {
  .container .wrapper > div:not(:last-child),
  .header_nav ul .wrapper > div:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  .container,
  .header_nav ul {
    max-width: calc(576px - var(--gutter) * 2);
  }
}

@media only screen and (min-width: 768px) {
  .container,
  .header_nav ul {
    max-width: calc(768px - var(--gutter) * 2);
  }
}

@media only screen and (min-width: 992px) {
  .container,
  .header_nav ul {
    max-width: calc(992px - var(--gutter) * 2);
  }
}

@media only screen and (min-width: 1200px) {
  .container,
  .header_nav ul {
    max-width: calc(1200px - var(--gutter) * 2);
  }
}

/* BUTTON */
.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
  border-radius: 10rem;
  padding: 0.85rem 1.25rem;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1rem;
}
.btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 1rem 2rem;
  }
}
.btn:hover {
  color: var(--primary);
}
.btn :focus-visible {
  outline-color: var(--primary_dark);
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:hover {
  color: var(--white);
  background-color: var(--primary_light);
}
.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.btn-secondary:hover {
  color: var(--white);
  background-color: var(--primary_dark);
}

/* IMAGE THUMB */
.img-thumb {
  --defautRadius: 10px;
  border-radius: var(--defautRadius);
  position: relative;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .img-thumb {
    --defautRadius: 40px;
  }
}
.img-thumb > img {
  border-radius: var(--defautRadius);
  position: relative;
}
.img-thumb::after {
  bottom: -1.25rem;
  right: -1.25rem;
  width: 80px;
  height: 80px;
}
@media only screen and (min-width: 768px) {
  .img-thumb::after {
    bottom: -3rem;
    right: -3rem;
    width: 113px;
    height: 113px;
  }
}
.img-thumb-caption {
  color: var(--white);
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .img-thumb-caption {
    bottom: 3rem;
    left: 3rem;
  }
}
.img-thumb-caption h4 {
  margin-bottom: 1rem;
}
.img-thumb-caption h2 {
  font-weight: 500;
}

/* STAR */
.star {
  padding-top: 0.5rem;
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.star::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: -30px;
  top: 0;
  background-image: url("../../assets/images/icons/star.png");
}

/* CARD */
.card {
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: var(--blue_gray);
}
@media only screen and (min-width: 768px) {
  .card {
    padding: 3rem;
  }
}
.card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card h4 {
  margin-bottom: 1.5rem;
}

/* FORM */
::-webkit-input-placeholder {
  color: #9fa2aa;
  opacity: 1;
}
::-moz-placeholder {
  color: #9fa2aa;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9fa2aa;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #9fa2aa;
  opacity: 1;
}
::placeholder {
  color: #9fa2aa;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #9fa2aa;
}

.input {
  border: 1px solid var(--border_color);
  background-color: var(--white);
  display: block;
  padding: 1rem;
  border-radius: 6px;
  width: 100%;
  font-family: var(--ff-serif);
  outline: none;
}
.input:focus, .input:focus-visible {
  border-color: var(--primary_light);
}
.input-group {
  margin-bottom: 1.5rem;
}
.input-group label {
  color: var(--label_color);
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

/* SOCIAL ICONS */
.social-icons {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.social-icons li a {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icons li a:hover {
  background-color: var(--primary);
}

/* HEADER */
@media only screen and (min-width: 992px) {
  .header_nav ul, .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
}

.header {
  background-color: var(--white);
  padding: 1rem 0;
}
@media only screen and (max-width: 991px) {
  .header {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
}
.header .btn-menu span::before, .header .btn-menu span::after, .header .btn-menu span {
  width: 28px;
  height: 3px;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark_gray);
}
.header_nav ul {
  list-style: none;
  margin-bottom: 0;
}
.header_nav ul li a:not(.btn) {
  color: inherit;
}
.header_nav ul li a:not(.btn):hover {
  color: var(--primary_light);
}
@media only screen and (max-width: 991px) {
  .header_nav_controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .header_nav_logo {
    display: none;
  }
}
@media only screen and (max-width: 991px) and (min-width: 576px) {
  .header_nav ul {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header_nav ul li {
    padding: 1.25rem 0;
  }
}
.header_nav_mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 992px) {
  .header_nav_mob {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .header_nav {
    position: fixed;
    background-color: var(--white);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-size: 1.25rem;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
    padding-right: 17px;
  }
  .header_nav ul li {
    padding: 1.25rem 0;
  }
}
.header .btn-menu {
  padding: 0;
  width: 48px;
  height: 48px;
}
.header .btn-menu span {
  font-size: 0;
  width: 20px;
  position: relative;
}
.header .btn-menu span::before, .header .btn-menu span::after {
  content: "";
  position: absolute;
  left: 0;
}
.header .btn-menu span::before {
  top: -8px;
}
.header .btn-menu span::after {
  top: 8px;
}
@media only screen and (min-width: 992px) {
  .header .btn-menu {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .header-open .header_nav {
    height: 100vh;
    overflow-y: auto;
  }
  .header-open .btn-menu span {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-open .btn-menu span::before {
    top: 0;
  }
  .header-open .btn-menu span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
}
.header .container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* BODY */
section {
  padding: 5rem 0;
}
@media only screen and (min-width: 576px) {
  section {
    padding: 5rem 0;
  }
}
@media only screen and (min-width: 768px) {
  section {
    padding: 6rem 0;
  }
}
@media only screen and (min-width: 992px) {
  section {
    padding: 7rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 992px) {
  section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* BANNER */
@media only screen and (max-width: 767px) {
  .banner {
    padding-top: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .banner_content {
    max-width: 30rem;
  }
}
.banner_content {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.banner_content h1 span {
  color: var(--primary);
  position: relative;
  display: inline-block;
}
.banner_content h1 span::after {
  content: "";
  position: absolute;
}
.banner_content h1 span::after {
  width: 100%;
  height: 4px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  border-radius: 4px;
}
.banner_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* ABOUT US */
.about_us {
  background-color: var(--blue_gray);
  position: relative;
}
@media only screen and (min-width: 992px) {
  .about_us::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 110%;
    background-color: var(--blue_gray);
    top: -28%;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
    z-index: -1;
  }
}
.about_us .wrapper .about_us_content {
  margin-top: 4rem;
}
@media only screen and (min-width: 992px) {
  .about_us .wrapper .about_us_content {
    padding-left: 8rem;
    margin-bottom: 0;
  }
}
.about_us .img-thumb::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: -1rem;
  right: -1rem;
  background-color: var(--primary);
  border-radius: 1rem;
  z-index: 0;
}

/* MISSION */
.mission {
  padding-bottom: 0;
}
.mission .container .wrapper .img-thumb::after {
  bottom: auto;
  width: 93px;
  height: 93px;
  top: -1rem;
  right: -1rem;
}

/* EXPERTISE */
.expertise {
  padding-bottom: 0;
}
.expertise_header {
  text-align: center;
  margin-bottom: 2rem;
}
.expertise_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.expertise_content .card {
  padding: 1.5rem;
  background-color: var(--white);
  -webkit-box-shadow: 0 3px 30px rgba(9, 9, 12, 0.1);
          box-shadow: 0 3px 30px rgba(9, 9, 12, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
.expertise_content .card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35px;
  height: 35px;
}
@media only screen and (min-width: 768px) {
  .expertise_content .card img {
    width: 75px;
    height: 75px;
  }
}

/* SERVICES */
.services_header {
  text-align: center;
  margin-bottom: 2rem;
}
.services_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.services_card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  border: 1px solid var(--gray_2);
  background-color: var(--white);
  padding: 2rem 1.25rem;
  border-radius: 1.25rem;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.services_card:nth-child(1) .services_card_icon::before {
  background-color: var(--light_purple);
}
.services_card:nth-child(2) .services_card_icon::before {
  background-color: var(--light_pink);
}
.services_card:nth-child(3) .services_card_icon::before {
  background-color: var(--light_orange);
}
.services_card:nth-child(4) .services_card_icon::before {
  background-color: var(--light_blue);
}
.services_card:nth-child(5) .services_card_icon::before {
  background-color: var(--light_red);
}
.services_card:nth-child(6) .services_card_icon::before {
  background-color: var(--light_green);
}
.services_card::after {
  width: 56px;
  height: 56px;
  bottom: -1rem;
  right: -1rem;
  opacity: 0;
}
.services_card:hover {
  background-color: var(--primary);
  color: var(--white);
}
.services_card:hover::after {
  opacity: 0.7;
}
.services_card:hover .services_card_icon::before {
  background-color: rgba(255, 255, 255, 0.25);
}
.services_card:hover .services_card_icon img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
@media only screen and (min-width: 992px) {
  .services_card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
}
@media only screen and (min-width: 992px) {
  .services_card {
    padding: 2rem;
  }
}
.services_card_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  padding: 0.25rem;
  margin-bottom: 2rem;
}
.services_card_icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.services_card_icon img {
  position: relative;
  right: -20px;
  bottom: -20px;
}

/* NEWSLETTER */
.newsletter {
  background-color: var(--black);
  background-image: url("../../assets/images/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .newsletter_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}
.newsletter_form form label {
  display: none;
}
.newsletter_form form .input {
  border-color: #616264;
  background-color: #1a1a1a;
}
.newsletter_form form .input-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .newsletter_form form .input-group {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.newsletter_form form .btn {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .newsletter_form form .btn {
    width: auto;
  }
}

/* CONTACT */
.contact {
  position: relative;
}
.contact .wrapper {
  -webkit-box-shadow: 0 4px 150px rgba(74, 74, 74, 0.1);
          box-shadow: 0 4px 150px rgba(74, 74, 74, 0.1);
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}
.contact_details {
  padding: 2rem;
  background-color: var(--primary_dark_2);
  background-image: url("../../assets/images/backgroung.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_details .social-icons {
  margin-top: 3rem;
}
@media only screen and (min-width: 992px) {
  .contact_details {
    padding: 3rem;
  }
  .contact_details .social-icons {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .contact_details {
    padding: 3rem;
  }
  .contact_details .social-icons {
    margin-top: 0;
  }
}
.contact_details p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0.8;
  font-size: 14px;
  line-height: 16.94px;
}
@media only screen and (max-width: 767px) {
  .contact_details p {
    line-height: 26px;
  }
}
.contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.contact_info_icon {
  width: 32px;
}
.contact_info p {
  opacity: 1;
}
.contact_form {
  padding: 2rem;
}
@media only screen and (min-width: 992px) {
  .contact_form {
    padding: 3rem;
  }
}
.contact_form .btn {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .contact_form .btn {
    width: auto;
  }
}

/* FOOTER */
footer {
  padding: 2rem 0;
  background-color: var(--primary_dark);
  color: rgba(255, 255, 255, 0.8);
}
footer .wrapper > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (min-width: 992px) {
  footer .wrapper div:nth-child(2) {
    text-align: center;
  }
  footer .wrapper .social-icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
footer .wrapper .social-icons a {
  border-color: #3d3d3d;
}
footer .wrapper .social-icons a:hover {
  border-color: var(--primary);
}

/* BACK TO TOP */
#back_to_top {
  position: fixed;
  right: 2rem;
  padding: 0;
  width: 52px;
  height: 52px;
  bottom: 8rem;
}
#back_to_top:hover {
  background-color: var(--primary);
}
@media only screen and (max-width: 991px) {
  #back_to_top {
    bottom: 4rem;
    right: 1rem;
  }
}