/* HEADER */
%headerMenu {
  @include min_media($lg) {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.header {
  background-color: $white;
  padding: 1rem 0;
  // z-index: 2;
  // @include min_media($lg) {
  //   position: sticky;
  //   top: 0;
  // }

  @include max_media($lg) {
    box-shadow: 0 4px 10px rgb(0 0 0 /5%);
  }

  %menu {
    width: 28px;
    height: 3px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    background-color: $dark_gray;
  }

  &_nav {
    @extend %headerMenu;

    &_controller{
      @include max_media($lg){
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
      }
    }

    &_logo {
      @include min_media($lg) {
        display: none;
      }
    }

    ul {
      @extend %headerMenu;
      list-style: none;
      margin-bottom: 0;
      li {
        a:not(.btn) {
          color: inherit;

          &:hover {
            color: $primary_light;
          }
        }
      }
    }

    @include max_media($lg) {
      @include min_media($sm) {
        ul {
          padding-left: 10px;
          padding-right: 10px;
          li {
            padding: 1.25rem 0;
          }
        }
      }
    }

    &_mob {
      display: flex;
      gap: 1.25rem;
      align-items: center;

      @include min_media($lg) {
        display: none;
      }
    }

    @include max_media($lg) {
      position: fixed;
      background-color: var(--white);
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      font-size: 1.25rem;
      transition: height 0.3s ease-in-out;
      height: 0;
      overflow: hidden;
      padding-right: 17px;

      ul {
        li {
          padding: 1.25rem 0;
        }
      }
    }
  }

  .btn-menu {
    padding: 0;
    width: 48px;
    height: 48px;
    @extend %flex-center;

    span {
      font-size: 0;
      width: 20px;
      position: relative;
      @extend %menu;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        @extend %menu;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }

    @include min_media($lg) {
      display: none;
    }
  }

  @include max_media($lg) {
    &-open {
      .header {
        &_nav {
          height: 100vh;
          overflow-y: auto;
        }
      }

      .btn-menu {
        span {
          transform: rotate(-45deg);
          &::before {
            top: 0;
          }
          &::after {
            transform: rotate(90deg);
            top: 0;
          }
        }
      }
    }
  }

  .container {
    @extend %flex-between;
    flex: 1 1 auto;
  }
}

/* BODY */
$bannerSpaces: (
  $sm: $base_size * 5,
  $md: $base_size * 6,
  $lg: $base_size * 7,
  $xl: $base_size * 8,
  // $xxl: $base_size * 6
);

section {
  padding: 5rem 0;

  @each $space, $space-value in $bannerSpaces {
    @include min_media($space) {
      padding: $space-value 0;
    }
  }

  .wrapper {
    @include min_media($lg) {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;

      & > div {
        flex: 1;
      }
    }
  }
}

/* BANNER */
.banner {
  @include max_media($md) {
    padding-top: 3rem;
  }

  @include min_media($lg) {
    &_content {
      max-width: 30rem;
    }
  }

  &_content {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;

    h1 {
      span {
        color: $primary;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
        }

        &::after {
          width: 100%;
          height: 4px;
          background-color: $primary;
          bottom: 0;
          left: 0;
          border-radius: 4px;
        }
      }
    }
  }

  &_image {
    display: flex;
    justify-content: flex-end;
  }
}

/* ABOUT US */
.about_us {
  background-color: $blue_gray;
  position: relative;

  @include min_media($lg) {
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 110%;
      background-color: var(--blue_gray);
      top: -28%;
      transform: rotate(175deg);
      z-index: -1;
    }
  }

  .wrapper {
    // @include max_media($lg) {
    //   display: flex;
    //   flex-direction: column;

    //   .img-thumb {
    //     order: 2;
    //   }
    // }
    .about_us {
      &_content {
        margin-top: 4rem;

        @include min_media($lg) {
          padding-left: 8rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .img-thumb {
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: -1rem;
      right: -1rem;
      background-color: $primary;
      border-radius: 1rem;
      z-index: 0;
    }
  }
}

/* MISSION */
.mission {
  padding-bottom: 0;

  .container {
    .wrapper {
      .img-thumb {
        &::after {
          bottom: auto;
          width: 93px;
          height: 93px;
          top: -1rem;
          right: -1rem;
        }
      }
    }
  }
}

/* EXPERTISE */
.expertise {
  padding-bottom: 0;

  &_header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .card {
      padding: 1.5rem;
      background-color: $white;
      box-shadow: 0 3px 30px rgb(9 9 12/ 10%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      img {
        object-fit: contain;
        width: 35px;
        height: 35px;

        @include min_media($md) {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

/* SERVICES */
$cardColors: (
  1: $light_purple,
  2: $light_pink,
  3: $light_orange,
  4: $light_blue,
  5: $light_red,
  6: $light_green
);

.services {
  &_header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  &_card {
    flex: 1 0 50%;
    border: 1px solid $gray_2;
    background-color: $white;
    padding: 2rem 1.25rem;
    border-radius: 1.25rem;
    position: relative;
    transition: all 0.2s ease-in-out;

    @each $color, $color-value, $index in $cardColors {
      &:nth-child(#{$color}) {
        .services_card_icon {
          &::before {
            background-color: $color-value;
          }
        }
      }
    }

    &::after {
      @extend %transparent_box;
      width: 56px;
      height: 56px;
      bottom: -1rem;
      right: -1rem;
      opacity: 0;
    }

    &:hover {
      background-color: $primary;
      color: $white;

      &::after {
        opacity: 0.7;
      }

      .services_card_icon {
        &::before {
          background-color: rgb(255 255 255 / 25%);
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    @include min_media($lg) {
      flex: 1 0 30%;
    }

    @include min_media($lg) {
      padding: 2rem;
    }

    &_icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 80px;
      height: 80px;
      padding: 0.25rem;
      margin-bottom: 2rem;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
      }

      img {
        position: relative;
        right: -20px;
        bottom: -20px;
      }
    }
  }
}

/* NEWSLETTER */
.newsletter {
  background-color: $black;
  background-image: url("../../assets/images/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  &_form {
    form {
      @include min_media($md) {
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      label {
        display: none;
      }

      .input {
        border-color: $newsletter_input_border;
        background-color: $newsletter_input_bg;

        &-group {
          flex: 1;
          margin-top: 3rem;
          @include min_media($md) {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }

      .btn {
        width: 100%;
        @include min_media($md) {
          width: auto;
        }
      }
    }
  }
}

/* CONTACT */
.contact {
  position: relative;

  .wrapper {
    box-shadow: 0 4px 150px rgb(74 74 74 / 10%);
    align-items: normal;
  }

  &_details {
    padding: 2rem;
    background-color: $primary_dark_2;
    background-image: url("../../assets/images/backgroung.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .social-icons {
      margin-top: 3rem;
    }

    @include min_media($lg) {
      padding: 3rem;

      .social-icons {
        margin-top: 0;
      }
    }

    @include min_media($lg) {
      padding: 3rem;

      .social-icons {
        margin-top: 0;
      }
    }

    p {
      flex: 1;
      opacity: 0.8;
      font-size: 14px;
      line-height: 16.94px;
      @include max_media($md) {
        line-height: 26px;
      }
    }
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;

    &_icon {
      width: 32px;
    }

    p {
      opacity: 1;
    }
  }

  &_form {
    padding: 2rem;

    @include min_media($lg) {
      padding: 3rem;
    }

    .btn {
      width: 100%;

      @include min_media($lg) {
        width: auto;
      }
    }
  }
}

/* FOOTER */
footer {
  padding: 2rem 0;
  background-color: $primary_dark;
  color: rgb(255 255 255 / 80%);

  .wrapper {
    @include min_media($lg) {
      @extend %min-lg-flex-between;
    }

    & > * {
      flex: 1;
    }

    @include min_media($lg) {
      div:nth-child(2) {
        text-align: center;
      }

      .social-icons {
        justify-content: flex-end;
      }
    }

    .social-icons {
      a {
        border-color: $footer_border;
        &:hover {
          border-color: $primary;
        }
      }
    }
  }
}

/* BACK TO TOP */
#back_to_top {
  position: fixed;
  right: 2rem;
  padding: 0;
  width: 52px;
  height: 52px;
  bottom: 8rem;
  @extend %flex-center;

  &:hover {
    background-color: $primary;
  }

  @include max_media($lg) {
    bottom: 4rem;
    right: 1rem;
  }
}
